In [28]:
df = pd.read_csv('../datasets/house_pricing.csv')

In [29]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [30]:
df.shape

(1460, 81)

In [31]:
import pandas as pd

# Handling Categorical Features Using Dummy Variables

When working with machine learning models, handling categorical features is essential. Many algorithms require that all input features be numeric, so it's necessary to transform any categorical variables into a format that the model can understand.

One of the most common techniques to handle categorical variables is **One-Hot Encoding**, which creates **dummy variables** for each category in the feature. This is a powerful and easy-to-use approach to convert categorical features into numeric features.

## Example Dataset

In [35]:

data = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Temperature': [60, 75, 55, 80, 85],
    'Rain': ['Yes', 'No', 'Yes', 'No', 'No']
}

df = pd.DataFrame(data)

df

          City  Temperature Rain
0     New York           60  Yes
1  Los Angeles           75   No
2      Chicago           55  Yes
3      Houston           80   No
4      Phoenix           85   No

In [36]:
df.shape

(5, 3)

The dataset contains two categorical features, `City` and `Rain`. Our goal is to transform these features into numeric features using **dummy variables**.

## One-Hot Encoding with `pandas.get_dummies()`

In [16]:
df_dummies = pd.get_dummies(df, columns=['City'], drop_first=True)

df_dummies

,Temperature,Rain,City_Houston,City_Los Angeles,City_New York,City_Phoenix
0,60,Yes,False,False,True,False
1,75,No,False,True,False,False
2,55,Yes,False,False,False,False
3,80,No,True,False,False,False
4,85,No,False,False,False,True

In [4]:
df.shape

(5, 3)

In [5]:
df_dummies.shape

(5, 6)

### Explanation
- The `City` column is transformed into multiple binary columns, one for each unique value (category) in the column.
- The `Rain` column, which has only two categories (`Yes` and `No`), is transformed into a single binary column (`Rain_Yes`).
- The parameter `drop_first=True` is used to avoid the **dummy variable trap** by dropping the first category in each categorical column. This prevents multicollinearity when one category can be perfectly predicted using the others.

The transformed dataset now contains only numeric features that can be used as inputs for machine learning models.

## Practical Considerations

- **High Cardinality**: If a categorical feature has many unique categories (high cardinality), one-hot encoding can lead to a large number of columns. In such cases, other encoding techniques like **target encoding** or **frequency encoding** might be more efficient.
- **Avoiding Multicollinearity**: The `drop_first` option is recommended to avoid the dummy variable trap and multicollinearity.
- **Model Type**: One-hot encoding is particularly useful for algorithms that don't handle categorical data well (e.g., linear models, neural networks). For **tree-based algorithms** like **Random Forests** or **XGBoost**, one-hot encoding is generally effective, but sometimes those models can handle categorical data natively.