https://mongoplayground.net/

In [ ]:
db = {
  "orders": [
    {
      "_id": 1,
      "item": "soccer ball",
      "price": 25,
      "quantity": 3
    },
    {
      "_id": 2,
      "item": "basketball",
      "price": 30,
      "quantity": 2
    },
    {
      "_id": 3
    }
  ],
  "inventory": [
    {
      "_id": 1,
      "sku": "soccer ball",
      "description": "Standard size 5 soccer ball",
      "instock": 150
    },
    {
      "_id": 2,
      "sku": "basketball",
      "description": "Official NBA-size basketball",
      "instock": 90
    },
    {
      "_id": 3,
      "sku": "tennis racket",
      "description": "Professional-grade tennis racket",
      "instock": 40
    },
    {
      "_id": 4,
      "sku": "golf club",
      "description": "High-quality golf iron",
      "instock": 35
    },
    {
      "_id": 5,
      "sku": null,
      "description": "Incomplete"
    }
  ]
}

### Find all orders

db.orders.find({})

### Find orders where the price is greater than 20

db.orders.find({ "price": { $gt: 20 } })

### Find an order with a specific item (e.g., "basketball")

db.orders.find({ "item": "basketball" })

### Find all inventory items that have more than 50 in stock

db.inventory.find({ "instock": { $gt: 50 } })

### Find all inventory items where SKU is not null

db.inventory.find({ "sku": { $ne: null } })

### Update the stock for "soccer ball" by decreasing it by 10

db.inventory.updateOne(
  { "sku": "soccer ball" },
  { $inc: { "instock": -10 } }
)

### Delete an order with _id of 3

db.orders.deleteOne({ "_id": 3 })

### Find all inventory items that contain the word "ball" in the description

db.inventory.find({ "description": /ball/ })

### Find the total stock of all items in inventory

db.inventory.aggregate([
  { $group: { _id: null, totalStock: { $sum: "$instock" } } }
])

### Sort inventory by stock in descending order

db.inventory.find().sort({ "instock": -1 })

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('insurance.csv')

In [11]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [14]:
df = pd.read_csv('fake_job_postings.csv')

https://www.kaggle.com/datasets/shivamb/real-or-fake-fake-jobposting-prediction