SQL DB: https://www.w3schools.com/sql/trysql.asp?filename=trysql_asc

SELECT * FROM customers;

SELECT DISTINCT country FROM customers;

SELECT country, COUNT(*) AS customer_count from customers group by country order by country desc;

SELECT * FROM customers
WHERE city = 'London';

SELECT * FROM customers
WHERE contactname IS NULL;

SELECT * FROM customers
WHERE contactname IS NULL;

SELECT * FROM customers
WHERE customername LIKE 'A%';

SELECT country, COUNT(*) AS total_customers
FROM customers
GROUP BY country
HAVING COUNT(*) > 5;

SQL postgres DB - https://sqlplayground.app/sandbox/67a96d9b7244bde43a35af01

-- 1. Find all cities in a specific country (e.g., 'USA')


SELECT name, district, population 
FROM cities 
WHERE country_code = 'USA';

-- 2. Find the most populated city in each country


SELECT c1.country_code, c1.name AS city_name, c1.population 
FROM cities c1
WHERE c1.population = (
    SELECT MAX(c2.population) 
    FROM cities c2 
    WHERE c2.country_code = c1.country_code
);

-- 3. Find countries with a population greater than 100 million


SELECT name, population 
FROM countries 
WHERE population > 100000000;

-- 4. Find the official languages of a specific country (e.g., 'IND')


SELECT language 
FROM country_languagies 
WHERE country_code = 'IND' AND is_official = 'T';

-- 5. Find the total population of all cities in a country (e.g., 'FRA')


SELECT SUM(population) AS total_population
FROM cities
WHERE country_code = 'FRA';

-- 6. List the top 10 most populated countries


SELECT name, population 
FROM countries 
ORDER BY population DESC 
LIMIT 10;

-- 7. Find countries where English is spoken (either officially or unofficially)


SELECT DISTINCT c.name 
FROM countries c
JOIN country_languagies cl ON c.code = cl.country_code
WHERE cl.language = 'English';

-- 8. Find countries where the capital is a city with a population of more than 5 million


SELECT co.name, ci.name AS capital_city, ci.population
FROM countries co
JOIN cities ci ON co.capital = ci.id
WHERE ci.population > 5000000;

-- 9. Find the largest city in the world by population


SELECT name, country_code, population
FROM cities
ORDER BY population DESC
LIMIT 1;

-- 10. Find the country with the highest GDP (GNP)


SELECT name, gnp 
FROM countries 
ORDER BY gnp DESC 
LIMIT 1;